<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671839887516-76hqbc7u2ndb4hkeh62v8u1euurf5824.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671839887516-76hqbc7u2ndb4hkeh62v8u1euurf5824</string>
	<key>API_KEY</key>
	<string>AIzaSyAeUvxAgSWFBS5186lnImZC5YP6AHWLeF4</string>
	<key>GCM_SENDER_ID</key>
	<string>671839887516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.refilex.gazzer.user</string>
	<key>PROJECT_ID</key>
	<string>gazzer-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gazzer-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671839887516:ios:618e228fb0241c82798d59</string>
</dict>
</plist>